body {

}

input[type="submit"] {
  @include button;
}

div#main {
  @include grid-row;
}

.top-bar{
  background-color: black;
}

div ul li{
  background-color: black;
}

div ul li a{
  color: white;
}

.menu-text{
  font-size: 35px;
  font-family: tohoma;
  color:white;
}

.btn {
  border-radius: 4px;
  margin-top: 10px;
  border: 1px solid white;
  font-weight: 800;
  font-size: 24px;
  margin-right:10px;
}
footer {
  margin-top: 50px;
  background-color: #000;
  color: #eee;
  text-align: center;
  p {
    line-height: 100px;
  }
}