<header>
<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">The Sentinal</li>
      <li>
        <a href="#">Politics</a>
      </li>
      <li><a href="#">Opinions</a></li>
      <li><a href="#">Sports</a></li>
      <li><a href="#">Local</a></li>
      <li><a href="#">National</a></li>
      <li><a href="#">World</a></li>
      <li><a href="#">Business</a></li>
      <li><a href="#">Tech</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a class="small button btn" href="#">Sign In</a></li>
      <li><a class="small button btn" href="#">Subscribe</a></li>
    </ul>
  </div>
</div>
</header>
